.square {
    position: absolute;
    text-align: center;
  }
  
  body {
      margin: 0px;
      padding:0px;
  }
  
  .blank {
      background:#888;
  }
  
  .dark {
      background:black;
  }
  
  .container {
    display: flex;
    font-size: 0;
   }
  
  div {
      /* border: 1px solid white; */
      margin: 0px;
      padding: 0px;
  }

  button {
    margin: 0px;
  }

  body {
    background:#888
  }
  
  canvas {
    background: white;
    display: flex;
    flex-direction: column;
    border: solid blue 2px;
  }
  
  
  .border {
    border: 1px solid rgb(200, 199, 199) !important;
 }

  .cell {
    display: inline-block;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    vertical-align: top;
    text-align: center;
  }


  .cellButton {
    display: inline-block;
    background-color: rgb(5, 152, 215);
    width: 80px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    vertical-align: top;
    text-align: center;
  }

  .cellButton:hover {
    background-color: rgb(170, 57, 174);
    }

  .line {
    margin: 0px;
    padding: 0px;
    width: 512px;
  }

  
  .menu-panel {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .center-container {
    margin: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  textarea {
    width: 100%;
    height: 100px;
  }

  #menu {
    width: 100%;
    
  }

.hide {
  display: none;
}

.modal-background {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
}

.modal {
  width: 80%;
  margin: auto auto;
  background-color: aliceblue;
  padding: 1rem;
}

#content {
  margin: auto auto;
  justify-content: center;
}