.camera {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: #888;
    object-fit: cover; 
}

.center {
    margin: auto auto;
}

.button {
    position: absolute;
    z-index: 999;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    width: 100vw;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none;
}

.custom-button {
    background-color: aliceblue;
    border: 1px solid #888;
    margin: 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    color: black;
}

.custom-button:hover {
    background-color: #eeeeee;
    border: 1px solid #888;
    
}